# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment / Secrets (WICHTIG!)
.env
.env.prod
nautilus_v2/config/secrets.toml

# Nautilus Data
nautilus_v2/data/
*.catalog
*.parquet

# IDE
.vscode/
.idea/
