# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment / Secrets (WICHTIG!)
.env
.env.prod
config/secrets.toml

# Nautilus Data
src/data/*.db
src/data/*.sqlite
*.catalog
*.parquet

# IDE
.vscode/
.idea/
.mypy_cache/
.mypy_cache
.mypy_cache/
.mypy_cache/
