version: '3.8'

services:
  redis:
    image: redis:alpine
    # Disable persistence to save IOPS/RAM
    command: redis-server --save "" --appendonly no
    ports:
      - "6379:6379"
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
